{% extends 'base.html' %}

{% block title %}INDEX{% endblock title %}


{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                  <h1>Clean Blog</h1>
                  <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <section>
        <div class="container px-4 px-lg-5">
            <div class="flask_messages d-flex justify-content-center">
                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <p class="text-danger">{{ message }}</p>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if posts|length > 0 %}
                        {% for post in posts %}
                            <!-- Post preview-->
                            <div class="post-preview">
                                <a href="{{ url_for('post', post_id=post.id)}}">
                                    <h2 class="post-title">{{ post.title }}</h2>
                                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                                </a>
                                <p class="post-meta">
                                    Posted by
                                    {{ users[post.author_id - 1] }} on {{ post.created_time }}
                                </p>
                                {% if current_user.id == post.author_id %}
                                    <a href="{{ url_for('post_update', post_id=post.id) }}" class="btn btn-primary">UPDATE</a>
                                {% elif current_user.id == 1 %}
                                    <a href="{{ url_for('post_update', post_id=post.id) }}" class="btn btn-primary">UPDATE</a>
                                    <a href="{{ url_for('post_delete', post_id=post.id) }}" class="btn btn-primary">DELETE</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="post-meta">😪 No posts yet Sir, please 
                        <a href="{{ url_for('post_add') }}">🛟 Please save the blog ! </a></p>
                    {% endif %}
                    {% if POST_PAGINATOR_MAX is defined %}
                        {% if posts | length > POST_PAGINATOR_MAX %}
                            <!-- Divider-->
                            <hr class="my-4" />
                            <!-- Pager-->
                            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
