{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}POST_ADD{% endblock title %}


{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/unseen-studio-s9CC2SKySJM-unsplash.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>ADD A POST</h1>
                    <span class="subheading">Please be respectfull.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <section>
          <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                      <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="my-5">
                                {{ render_form(form) }}
                            </div>
                      </div>
                </div>
          </div>
    </section>
</main>
{% endblock content %}
